@import '../../styles/vars';
.header {
    width: 100%;
    background: $headerGradient;
    padding:10px 20px 10px 40px;
}
.headerRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerMenu {
    cursor: pointer;
    color: #fff;
}

.headerRedact {
    cursor: pointer;
    color: #fff;
}
.headerBills {
    color: #fff;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.headerBillsLabel {
    cursor: pointer;

}
.headerBillsBalance {
    font-size: 1.3em;
}