$mainBgColor: #f3f3f3;
$mainTextColor: #2f2e2f;
$grayTextColor: #9e9e9e;
$headerGradient: linear-gradient(87.94deg, #29a5d4 0%, #096dd9 100%);
$mainBlogBg: #FFF;
$mainFormHeaderBg: #27a4fd;
$borderColor: #c7c7c7;
$footerBorderColor: #dadada;
$footerActiveColor: #0162cc;
$font: 'Poppins', sans-serif;